div.app-container {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 56px;

	mat-toolbar.header {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
	}

	mat-sidenav-container.app-sidenav-container {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		top: 0;

		mat-sidenav.start {
			width: 268px;

			mat-nav-list {
				mat-list-item {
					mat-icon {
						padding-left: 0;
					}
				}
			}

			div.profile {
				background: url('./assets/bg-profile.png') top center;
				height: 151px;
				width: 100%;

				div.avatar {
					padding: 12px;

					& > img {
						height: 47px;
						width: 47px;
						border-radius: 50%;
						border: 3px solid rgba(0, 0, 0, 0.14);
						box-sizing: content-box;
					}
				}

				div.info {
					background: rgba(0, 0, 0, 0.37);
					color: #fff;
					padding: 7px 16px;
					margin-top: 37px
				}
			}
		}
	}
}