<div class="mat-app-background app-container">
	<mat-toolbar class="header" color="primary" role="header">
		<button mat-icon-button (click)="sidenav.toggle()">
			<mat-icon>menu</mat-icon>
		</button>
		<span routerLink="/core">Material Playground</span>
	</mat-toolbar>
	<mat-sidenav-container class="app-sidenav-container">
		<mat-sidenav [fixedInViewport]="fixedInViewport" #sidenav class="start">
			<div class="profile">
				<div class="avatar">
					<img src="/assets/images/sidenav/avatar.png">
				</div>
				<div class="info">Material Playground</div>
			</div>
			<mat-nav-list>
				<mat-list-item routerLink="/core/home" routerLinkActive="active" (click)="sidenav.close()">
					<mat-icon matListIcon>home</mat-icon> Home
				</mat-list-item>
				<mat-list-item routerLink="/core/sample/first" routerLinkActive="active" (click)="sidenav.close()">
					<mat-icon matListIcon>label</mat-icon> First
				</mat-list-item>
				<mat-list-item routerLink="/core/sample/second" routerLinkActive="active" (click)="sidenav.close()">
					<mat-icon matListIcon>label</mat-icon> Second
				</mat-list-item>
			</mat-nav-list>
		</mat-sidenav>
		<mat-sidenav-content>
			<router-outlet></router-outlet>
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>