@import '~@angular/material/theming';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');
@import url('//fonts.googleapis.com/icon?family=Roboto');

// always include only once per project
@include mat-core();

// import our custom theme files
@import 'theme/colors.scss';
// import our custom components theme files
@import 'theme/components.scss';

// specify theme class eg: <body class="app-theme"> ... </body>
.app-theme {
	// use our theme with angular-material-theme mixin
	@include angular-material-theme($app-theme);
}

body {
	margin: 0;
	font-family: $mat-font-family;
	font-weight: normal;
}

h1, h2, h3, h4 {
	font-weight: normal;
}